In [581]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [582]:
df_incomplete = pd.read_json("dataset_nottoyé.json")
df = pd.read_json("dataset_donnees_complementaires.json")

df.drop(["jpbox_fr_title"], axis = 1, inplace=True)

In [583]:
df_incomplete.isna().sum()

jpbox_fr_title                0
allocine_fr_title             0
jpbox_released_year           0
jpbox_actors                633
jpbox_directors            1144
allocine_writer            1632
allocine_distribution      1776
jpbox_country                 0
jpbox_budget               1263
jpbox_category                0
jpbox_released_date           0
allocine_classification       0
jpbox_duration                0
jpbox_weekly_entrances        0
duration_minutes              0
dtype: int64

In [584]:
df.isna().sum()

allocine_fr_title             0
jpbox_released_year           0
jpbox_actors                525
jpbox_directors             995
allocine_writer            1427
allocine_distribution      1577
jpbox_country                 0
jpbox_budget               1089
jpbox_category                0
jpbox_released_date           0
allocine_classification       0
jpbox_duration                0
jpbox_weekly_entrances        0
duration_minutes              0
imdb_url                      0
imdb_title                    0
imdb_released_year            0
imdb_directors                8
imdb_writer                  24
imdb_actors                   0
imdb_distribution            34
imdb_budget                3225
dtype: int64

In [585]:
df.shape
df["imdb_actors"].value_counts()

imdb_actors
[]                                                          119
[Ariane Ascaride, Jean-Pierre Darroussin, Gérard Meylan]      7
[Daniel Radcliffe, Emma Watson, Rupert Grint]                 6
[Kristen Stewart, Robert Pattinson, Taylor Lautner]           4
[Jean-Paul Rouve, Isabelle Nanty, Claire Nadeau]              4
                                                           ...
[Lukas Ionesco, Diane Rouxel, Théo Cholbi]                    1
[Aenne Schwarz, Andreas Döhler, Hans Löw]                     1
[Angus Cameron, Saskia Sassen, Brigitte Alepin]               1
[Manolo Solo, Jose Coronado, Ana Torrent]                     1
[Neta Riskin, Golshifteh Farahani, Yehuda Almagor]            1
Name: count, Length: 7084, dtype: int64

In [586]:
df["jpbox_directors"] = df["jpbox_directors"].fillna(df["imdb_directors"])
df["allocine_writer"] = df["allocine_writer"].fillna(df["imdb_writer"])
df["allocine_distribution"] = df["allocine_distribution"].fillna(df["imdb_distribution"])
df["jpbox_budget"] = df["jpbox_budget"].fillna(df["imdb_budget"])
df["jpbox_budget"] = df["jpbox_budget"].str.replace(r"[^\d]", "", regex=True)

df["jpbox_actors"] = df["jpbox_actors"].fillna(df["imdb_actors"])
df["imdb_actors"] = df.apply(lambda row: row["imdb_actors"] if len(row["imdb_actors"]) > len(row["jpbox_actors"]) else row["jpbox_actors"],axis=1)

df.isna().sum()

allocine_fr_title             0
jpbox_released_year           0
jpbox_actors                  0
jpbox_directors               5
allocine_writer              20
allocine_distribution        14
jpbox_country                 0
jpbox_budget                854
jpbox_category                0
jpbox_released_date           0
allocine_classification       0
jpbox_duration                0
jpbox_weekly_entrances        0
duration_minutes              0
imdb_url                      0
imdb_title                    0
imdb_released_year            0
imdb_directors                8
imdb_writer                  24
imdb_actors                   0
imdb_distribution            34
imdb_budget                3225
dtype: int64

In [587]:
df = df.drop([
    "imdb_url", 
    "imdb_title", 
    "imdb_released_year", 
    "imdb_directors", 
    "imdb_writer", 
    "jpbox_actors", 
    "imdb_distribution", 
    "imdb_budget", 
],axis = 1)

In [588]:
df.isna().sum()

allocine_fr_title            0
jpbox_released_year          0
jpbox_directors              5
allocine_writer             20
allocine_distribution       14
jpbox_country                0
jpbox_budget               854
jpbox_category               0
jpbox_released_date          0
allocine_classification      0
jpbox_duration               0
jpbox_weekly_entrances       0
duration_minutes             0
imdb_actors                  0
dtype: int64

In [589]:
df.shape

(7280, 14)

In [590]:
df = df.dropna(subset="jpbox_directors")
df = df.dropna(subset="allocine_writer")
df = df.dropna(subset="allocine_distribution")

print(df.shape)
df.isna().sum()

(7251, 14)

allocine_fr_title            0
jpbox_released_year          0
jpbox_directors              0
allocine_writer              0
allocine_distribution        0
jpbox_country                0
jpbox_budget               837
jpbox_category               0
jpbox_released_date          0
allocine_classification      0
jpbox_duration               0
jpbox_weekly_entrances       0
duration_minutes             0
imdb_actors                  0
dtype: int64

In [591]:
# liste des pays ou il nous manque le budget

df[df["jpbox_budget"].isna()]["jpbox_country"].value_counts()

jpbox_country
France             691
Belgique            23
Etats-Unis          14
Grande-Bretagne     10
Espagne             10
Italie               9
Allemagne            8
Japon                8
Israël               7
Suisse               4
Canada               4
Danemark             3
Chine                3
Argentine            3
Portugal             3
Corée du Sud         3
Iran                 2
Mongolie             2
Turquie              2
Russie               2
Algérie              2
Colombie             2
Egypte               2
Suède                2
Chili                2
Norvège              2
Luxembourg           1
Finlande             1
Rép. Tchèque         1
Tunisie              1
Roumanie             1
Cuba                 1
Brésil               1
Viet-Nam             1
Lettonie             1
Australie            1
Inde                 1
Afrique du Sud       1
Ukraine              1
Bosnie               1
Name: count, dtype: int64

In [592]:
mean_fr_budget = round(pd.to_numeric(df[df["jpbox_country"] == "France"]["jpbox_budget"]).mean())
print(mean_fr_budget)
# pd.to_numeric(df["jpbox_budget"][df["jpbox_country"] == "France"]).mean()

8611469

In [593]:
df["jpbox_budget"] = df["jpbox_budget"].fillna(mean_fr_budget)

print(df.shape)
df.isna().sum()

(7251, 14)

allocine_fr_title          0
jpbox_released_year        0
jpbox_directors            0
allocine_writer            0
allocine_distribution      0
jpbox_country              0
jpbox_budget               0
jpbox_category             0
jpbox_released_date        0
allocine_classification    0
jpbox_duration             0
jpbox_weekly_entrances     0
duration_minutes           0
imdb_actors                0
dtype: int64

In [594]:
df.rename(columns={
    "jpbox_released_year" : "released_year",
    "imdb_actors" : "actors",
    "jpbox_directors" : "directors",
    "jpbox_country" : "country",
    "jpbox_budget" : "budget",
    "jpbox_category" : "category",
    "jpbox_released_date" : "released_date",
    "jpbox_duration" : "duration",
    "jpbox_weekly_entrances" : "weekly_entrances",
    "allocine_writer" : "writer",
    "allocine_fr_title" : "fr_title",
    "allocine_classification" : "classification",
    "allocine_distribution" : "distribution"
}, inplace=True)

In [595]:
df.head()

,fr_title,released_year,directors,writer,distribution,country,budget,category,released_date,classification,duration,weekly_entrances,duration_minutes,actors
0,La Ch’tite famille,2018,Dany Boon,Dany Boon,Pathé Films,France,27800000,Comédie,28/02/2018,Tout public,1h 47min,2429906,107,"[Dany Boon, François Berléand, Valérie Bonneto..."
1,Rien à déclarer,2011,Dany Boon,Dany Boon,Pathé Films,France,24434009,Comédie,02/02/2011,Interdit - 10 ans,1h 48min,2587056,108,"[Dany Boon, Benoît Poelvoorde, François Damien..."
2,Avatar,2009,James Cameron,James Cameron,The Walt Disney Company France,Etats-Unis,315000000,Science Fiction,16/12/2009,Tout public,2h 40min,2648596,160,"[Sam Worthington, Zoe Saldaña, Sigourney Weaver]"
3,Avengers: Infinity War,2018,- Russo (brothers),Christopher Markus,The Walt Disney Company France,Etats-Unis,295000000,Comicbook,25/04/2018,Tout public,2h 36min,2565953,156,"[Chris Evans, Chris Hemsworth, Josh Brolin, Ro..."
4,Harry Potter et les reliques de la mort - part...,2010,David Yates,Joanne Kathleen Rowling,Warner Bros.,Etats-Unis,125000000,Fantasy,24/11/2010,Tout public,2h 30min,2537450,150,"[Daniel Radcliffe, Emma Watson, Helena Bonham ..."

In [596]:
df["actor_1"] = df["actors"].apply(lambda x: x[0] if len(x) > 0 else None)
df["actor_2"] = df["actors"].apply(lambda x: x[1] if len(x) > 1 else None)
df["actor_3"] = df["actors"].apply(lambda x: x[2] if len(x) > 2 else None)

df.drop(["actors"], inplace = True, axis = 1)

In [597]:
df.isna().sum()

fr_title              0
released_year         0
directors             0
writer                0
distribution          0
country               0
budget                0
category              0
released_date         0
classification        0
duration              0
weekly_entrances      0
duration_minutes      0
actor_1              72
actor_2             105
actor_3             128
dtype: int64

In [598]:
df[df["actor_1"].isna()]

df[["actor_1", "actor_2", "actor_3"]] = df[["actor_1", "actor_2", "actor_3"]].fillna("no_actor")

In [599]:
print(df.shape)
df.isna().sum()

(7251, 16)

fr_title            0
released_year       0
directors           0
writer              0
distribution        0
country             0
budget              0
category            0
released_date       0
classification      0
duration            0
weekly_entrances    0
duration_minutes    0
actor_1             0
actor_2             0
actor_3             0
dtype: int64

In [600]:
import json


df.to_csv("DATASET_FINAL.csv", index = False)

records = df.replace({np.nan: None}).to_dict(orient="records")
with open("DATASET_FINAL.json", "w", encoding="utf-8") as f:
    f.write("[\n")
    for i, record in enumerate(records):
        json_str = json.dumps(record, ensure_ascii=False)
        if i < len(records) - 1:
            f.write(f"    {json_str},\n")
        else:
            f.write(f"    {json_str}\n")
    f.write("]\n")